



<p align="center" style="margin-bottom: 0.14cm; line-height: 100%; page-break-inside: avoid; orphans: 2; widows: 2; page-break-after: avoid">
    <font size="5" style="font-size: 18pt">David Bebb</font>
</p>
<p align="center" style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt"><b>Email</b></font>
    <font size="2" style="font-size: 10pt">: david@davidbebb.co.uk </font>

</p>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt">Cambridge educated, inspired by technology and motivated by finding and creating solutions. Enjoys living in a world where things work as they should. An enthusiastic science communicator, I was a key member of the team that opened Cambridge's
        first interactive science museum.</font>
</p>
<h3 class="western" style="line-height: 100%"><a name="_gridzlaebflv"></a> <font size="3" style="font-size: 13pt">Relevant software design and development projects</font></h3>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt"><b>Healthera medicine system</b></font>
    <font size="2" style="font-size: 10pt">: a combined medication reminder app for patients and compliance data collection/collation service for pharmacists/NHS.</font>
</p>
<ul>
    <li>
        <p style="margin-bottom: 0.14cm; line-height: 100%">
            <font size="2" style="font-size: 10pt">Developed an extensible system to interpret medicine information from pharmacy dispense labels, a key component of the </font>
            <font size="2" style="font-size: 10pt"><i>Healthera</i></font>
            <font size="2" style="font-size: 10pt"> offering.</font>
        </p>
    </li>
</ul>
<ul>
    <li>
        <p style="margin-bottom: 0.14cm; line-height: 100%">
            <font size="2" style="font-size: 10pt">Designed and implemented key elements of a series of highly modular RESTful APIs to interface with mobile, desktop and embedded clients.</font>
        </p>
    </li>
</ul>
<ul>
    <li>
        <p style="margin-bottom: 0.14cm; line-height: 100%">
            <font size="2" style="font-size: 10pt">Technologies: </font>
            <font size="2" style="font-size: 10pt"><i>NodeJs</i></font>
            <font size="2" style="font-size: 10pt">, </font>
            <font size="2" style="font-size: 10pt"><i>MongoDB</i></font>
            <font size="2" style="font-size: 10pt">, </font>
            <font size="2" style="font-size: 10pt"><i>Cassandra</i></font>
            <font size="2" style="font-size: 10pt">, </font>
            <font size="2" style="font-size: 10pt"><i>Redis</i></font>
            <font size="2" style="font-size: 10pt">, </font>
            <font size="2" style="font-size: 10pt"><i>Werker</i></font>
            <font size="2" style="font-size: 10pt">, </font>
            <font size="2" style="font-size: 10pt"><i>AngularJS, JQuery, Bootstrap,</i></font>
            <font size="2" style="font-size: 10pt"> deployed on </font>
            <font size="2" style="font-size: 10pt"><i>Amazon Web Services (EC2 containers, Route53)</i></font>
        </p>
    </li>
    <li>
        <p style="margin-bottom: 0.14cm; line-height: 100%">
            <font size="2" style="font-size: 10pt">Testing: Endpoint and unit testing using </font>
            <font size="2" style="font-size: 10pt"><i>Jasmine</i></font>
            <font size="2" style="font-size: 10pt">, continuous integration tests using </font>
            <font size="2" style="font-size: 10pt"><i>Werker</i></font>
            <font size="2" style="font-size: 10pt">.</font>
        </p>
    </li>
</ul>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt"><b>Cambridge Science Centre</b></font>
    <font size="2" style="font-size: 10pt">: Raspberry Pi based exhibit content and live data manager to display multi-levelled information in response to hardware input.</font>
</p>
<ul>
    <li>
        <p style="margin-bottom: 0.14cm; line-height: 100%">
            <font size="2" style="font-size: 10pt">Designed and implemented integration of hardware input with graphical client application to allow museum visitors to access content. </font>
        </p>
    </li>
    <li>
        <p style="margin-bottom: 0.14cm; line-height: 100%">
            <font size="2" style="font-size: 10pt">Designed user interface tool chain for staff to upload content.</font>
        </p>
    </li>
    <li>
        <p style="margin-bottom: 0.14cm; line-height: 100%">
            <font size="2" style="font-size: 10pt">Technologies: </font>
            <font size="2" style="font-size: 10pt"><i>NodeJs</i></font>
        </p>
    </li>
</ul>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt"><b>Makers Academy:</b></font>
    <font size="2" style="font-size: 10pt"> Final team project, mobile-centred webapp</font>
</p>
<ul>
    <li>
        <p style="margin-bottom: 0.14cm; line-height: 100%">
            <font size="2" style="font-size: 10pt">Technologies: </font>
            <font size="2" style="font-size: 10pt"><i>AngularJs</i></font>
            <font size="2" style="font-size: 10pt">, </font>
            <font size="2" style="font-size: 10pt"><i>Firebase</i></font>
            <font size="2" style="font-size: 10pt">.</font>
        </p>
    </li>
</ul>
<h3 class="western" style="line-height: 100%"><a name="_ni2vp1fkgm31"></a> <font size="3" style="font-size: 13pt">Skills</font></h3>
<h5 class="western"><a name="_7bo21p3q0719"></a>Working with clients</h5>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt">Whilst at Healthera I visited pharmacies to explore: existing workflows for dispensing prescription medicines; opportunities to incorporate the Healthera product with a minimum of disruption; and pharmacists understandings of their customers’
        needs. </font>
</p>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt">In setting up the ‘On the Road’ travelling science centre for Cambridge Science Centre (CSC), coordinated extended visits to central school sites and then liaised with host and other local schools to coordinate transporting children from
        elsewhere. Responsible for both planning and implementation of placements, including leading and coordinating teams of Science Centre staff responsible for delivery.</font>
</p>
<h5 class="western"><a name="_tbc7bur03gw7"></a>Training, coaching and peer learning</h5>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt">Makers Academy course introduced pair programming techniques. Working with a different coding partner each day provided many opportunities to experience and learn from different working styles, coding styles, and ways of approaching problems,
        broadening my own range of techniques and flexibility of approach when working with others. </font>
</p>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt">Trainer/owner on CNC router at MakeSpace community hackspace. Wrote and ran small-group introductory sessions covering safety and best practice. Groups typically included a mix of new users (total novices and experienced users of similar
        equipment needing ‘certification’ for MakeSpace set-up). </font>
</p>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt">Wrote and presented shows and workshops on a wide range of topics for Cambridge Science Centre (CSC). These ranged from bespoke all-day sessions for schools to a set of short demonstrations for family audiences to be delivered on a rota
        by a staff with a variety of scientific backgrounds.</font>
</p>
<h5 class="western" style="line-height: 100%"><a name="_lq8u8j1zj5l9"></a> Interpersonal and teamwork</h5>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt">Twice daily stand-ups at Makers Academy were key for discussing progress of coding pairs and sharing approaches, ideas and challenges. Enjoyed chances to gain new insights into my own challenges and think on my feet to help colleagues
        generate new ideas for where to go next. </font>
</p>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt">Took part in a series of hackathons after completing Makers Academy course, deploying skills honed during boot camp paired coding challenges and small group project. Fitted quickly into new and existing teams to contribute meaningfully
        to exciting projects on very short timescales. Recruited to contractor role at Healthera following a successful hackathon. </font>
</p>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt">Key member of exhibit building team at CSC, producing great results on very limited time and resources. Have been asked back for short freelance projects between jobs both for CSC and by former co-workers at CSC now working for other employers
        as a known and trusted colleague.</font>
</p>
<h3 class="western" style="line-height: 100%"><a name="_jyv21n7a1j6x"></a> <font size="3" style="font-size: 13pt">Education, Employment and Experience</font></h3>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt"><b>Dec. 2016 - Freelance science demonstration developer (Royal Institution of Great Britain)</b></font>
</p>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt">Design, build and testing of demonstration equipment for RIGB’s world famous Christmas Lectures.</font>
</p>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt"><b>Jan. 2016 - Nov. 2016 - Full stack software developer, Healthera, Cambridge</b></font>
</p>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt">Full stack developer for medical technology company. Key developer on a series of core business apis, as well as implementing an end-to-end test and deployment suite.</font>
</p>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt"><b>May - Jul. 2016 - Freelance on behalf of Cambridge Science Centre (CSC), Cambridge</b></font>
</p>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt">Full stack design and development of a content presentation and hardware integration platform, for use in stand-alone science demonstrations. Now being adopted as standard in new CSC exhibitions.</font>
</p>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt"><b>Sept - Nov 2015 - Makers Academy</b></font>
</p>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt">Intensive software development boot-camp, heavily focused on agile methodologies, test driven design and software craftsmanship. </font>
</p>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt">Approaches: OOP, TDD, SOLID, MVC, DDD</font>
</p>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt">Technologies: Ruby, Rails, Javascript, NodeJs, AngularJs</font>
</p>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt">Testing: Rspec, Jasmine, Mocha, Protractor, Webdriver</font>
</p>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt"><b>Oct. 2011 – Aug. 2015 - Cambridge Science Centre, Cambridge</b></font>
</p>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt">Start up science education charity. Fulfilled roles as required by changing nature of the venture, including: Schools Coordinator, Facilities manager, IT systems procurement and support, large event coordinator. Managed pilot flagship
        outreach programme 'On the road'. Exhibit and demonstration design and manufacture, included designing a number of science exhibits using a text based parametric python cad/cam library.</font>
</p>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt"><b>Sep. 2011 – Aug. 2012 - Lab_13 Scientist-in-Residence, Bowbridge Primary School, Newark, Nottinghamshire</b></font>
</p>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt">Prepared and delivered interactive science/tech activities for pupils aged 5-11 in groups of 3-50.</font>
</p>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt"><b>Mar. 2011 - Cambridge Science Festival 2011</b></font>
</p>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt">Presented a series of lectures for school and public audiences. </font>
</p>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt"><b>Aug. 2010 - Aug. 2011 - Family farm, Mid-Wales</b></font>
</p>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt">Worked on family farm. Daily and seasonal animal husbandry activities to ensure welfare of livestock. Routine and one-off equipment and building maintenance and improvement projects. </font>
</p>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt">(Also before/after school and during school/University holidays 1996-2010)</font>
</p>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt"><b>2006 – 2010 - University of Cambridge, Homerton College</b></font>
</p>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt">Natural Sciences (Chemistry) MSci Hons (3), BA Hons (2.ii)</font>
</p>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt"><b>Aug. – Sep. 2008 - Unilever Centre for Molecular Science Informatics, Cambridge</b></font>
</p>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt">Contributed to development of software tools for chemical informatics, primarily using Java.</font>
</p>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt"><b>Jul. 2005 – Aug. 2006 - ISIS, Rutherford Appleton Laboratory, Oxfordshire</b></font>
</p>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt">Year in Industry (YinI) student in the </font><sup><font size="2" style="font-size: 10pt">3</font></sup>
    <font size="2" style="font-size: 10pt">He Neutron spin filter group. Developed automated data analysis tool using Matlab, reducing time for routine data analysis by around 80%.</font>
</p>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt"><b>1998 – 2005 - Welshpool High School, Welshpool</b></font>
</p>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt">A-levels: Biology (A), Chemistry (A), Mathematics (B), Physics (A) </font>
</p>
<p style="margin-bottom: 0.14cm; line-height: 100%">
    <font size="2" style="font-size: 10pt">GCSE: Nine A* – A including Maths and English.</font>
</p>
<p>
    <style type="text/css">
        @page {
            margin: 2cm
        }

        h5 {
            margin-bottom: 0.14cm;
            direction: ltr;
            line-height: 100%;
            text-align: left;
            page-break-inside: avoid;
            orphans: 2;
            widows: 2
        }

        h5.western {
            font-family: "Arial", serif;
            font-size: 11pt
        }

        h5.cjk {
            font-family: "Arial";
            font-size: 11pt
        }

        h5.ctl {
            font-family: "Arial";
            font-size: 11pt;
            font-weight: normal
        }

        h3 {
            margin-top: 0.56cm;
            margin-bottom: 0.14cm;
            direction: ltr;
            color: #434343;
            line-height: 100%;
            text-align: left;
            page-break-inside: avoid;
            orphans: 2;
            widows: 2
        }

        h3.western {
            font-family: "Arial", serif;
            font-weight: normal
        }

        h3.cjk {
            font-family: "Arial";
            font-weight: normal
        }

        h3.ctl {
            font-family: "Arial";
            font-weight: normal
        }

        p {
            margin-bottom: 0.25cm;
            line-height: 120%
        }
    </style>
</p>
<h3 class="western"><a name="_or4qxua7dd75"></a>&nbsp;References available on request</h3>


<!-- </article> -->
