



<article class="box post">
  <div class="info">
    <strong>About</strong>
  </div>

  <img id = 'about-image'  src="https://avatars2.githubusercontent.com/u/10740756?v=3&s=200" alt = "" />
  <header class = 'post 'r>
    <h2>David Bebb</h2>
    <p>Software developer, Science Communicator and Maker</p>
    <p>Based in Cambridge, UK</p>
</header>

<p>
  This site is a collection of thoughts and projects, based on my current interests and experience.
</p>
<p>
  Many of my current <a href='./projects.html'>projects</a> can be found on <a href='https://github.com/davidbebb'>github</a>.
</p>

<!-- </article> -->
